.userContainer {
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    object-fit: cover;
}

.name {
    margin-bottom: 0;
}

.username {
    margin-top: 0;
    color: #666c7e;
}

.articlesListHeading {
    text-align: center;
}

.contentGrid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}