.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  margin-top: 5%;
  text-align: center;
  padding: 3% 0;
}

.footer a {
  display: flex;
  justify-content: center;
}

.message {
    margin-top: 15%;
    font-size: 1rem;
}

.socialMediaLinks {
  list-style-type: none;
}

.socialMediaLinks > li {
  display: inline-block;
  margin: 0 1%;
}

.socialMediaLinks > li > a {
  color: #333;
  font-size: 1.5em;
}


@media (max-width: 768px) {
  .footer {
    margin-top: 20%;
    padding: 5% 0;
  }

  .message {
    font-size: 0.75rem;
  }
  
}